exclude: 'openapi_cli'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/golangci/golangci-lint
    rev: v1.27.0
    hooks:
    -   id: golangci-lint
