exclude: "generated|vendor"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.33.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd server && golangci-lint run --fix'
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.5.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: master
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: unit-tests
        name: unit tests
        entry: bash -c "cd server && go test ./..."
        language: system
        files: \.go$
        types: [file]
        pass_filenames: false
      - id: go-generate
        name: go generate
        entry: bash -c "cd server && go generate ./..."
        language: system
        pass_filenames: false
