exclude: 'generated|vendor'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/golangci/golangci-lint
    rev: v1.27.0
    hooks:
    -   id: golangci-lint
-   repo: https://github.com/awebdeveloper/pre-commit-tslint/
    rev: master
    hooks:
    -   id: tslint
        additional_dependencies: ['tslint@6.1.2', 'typescript']
